@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* colors */
  --primary:  #ffa500;
  --secondary: #F08D37;
  --hover: #bc8c2599;
  
}


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


  
   /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */

  /* background-image: url("../public/images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
.add{
  background-color: #F6F1F1;
  font-weight: bold;
  border-radius: 3px;
  min-height: 30px;
  border:none;
  padding: 0 3px;
  width: 80px;
  margin:3px;
}

.delete{
  background-color: rgb(173, 21, 21);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border:none;
  padding:5px;
  cursor: pointer;


}

.header{
background-color:var(--primary);
max-width:99vw;
border-radius: 5px;
margin: 3px auto 0;
height:50px;
display:flex;
justify-content: space-between;
align-items: center;
overflow:hidden;



}

/* header animation */
@keyframes slideDown{
  from{
    transform:translateY(-100px);
    opacity:0;

  }

  to {

    transform:translateY(0);
    opacity:1;

  }
}

@keyframes slideRight{
  from{
    transform:translateX(-100px);
    opacity:0;

  }

  to {

    transform:translateX(0);
    opacity:1;

  }
}

@keyframes slideLeft{
  from{
    transform:translateX(50px);
    opacity:0;

  }

  to {

    transform:translateX(0);
    opacity:1;

  }
}

.header h2{
  animation: slideDown 0.5s ease-in-out 0s;
}

 .header .logo{
  width: 45px;
  height:45px;
  background-image: url("logo.jpg");
  background-size: cover;
  margin-left:5px;
  border-radius: 22px;
  animation: slideRight 0.3s ease-in-out 0s;

}

.header .user{
  margin-right:8px;
}

.fa-bars,.fa-circle-user,.fa-xmark{
  cursor:pointer;
}

.header .profileOption:hover{
cursor: pointer;
text-shadow: 1px 1px 3px black;
background-color: var(--secondary);
}


.navigation{
  list-style-type: none;
  position: fixed;
  top:70px;
  left:5px;
  z-index:1;
  width: 170px;
  min-height:80vh;
  background-color: rgba(246, 241, 241,0.5);
  border-radius: 5px;
  font-size: small;

  
}

.navigation li{
  
  line-height: 3rem;
  animation: slideLeft 0.5s ease-in-out 0s;


 
}

.navigation a{
  text-decoration:none;
  color:black;
  


}

.navigation a:hover,.MiniNavigation a:hover{

  box-shadow: 1px 3px 5px rgb(96, 91, 91);

  
}

/* .navigation */ .nav-item{
  display:flex;
  align-items:center;
  
  border-bottom: 1px solid #9E9E9E;
  border-bottom: 1px solid #9e9e9e93;
  border-radius: 5px;
  box-shadow: inherit;
  
}

/* navigation icons */
/* .navigation */ .all{
  margin:0px 7px 0px 3px;
  width:25px;
  height:25px;
  background: url("../public/images/all.png");
  background-size: cover;
  
}

/* .navigation */ .approved{
  margin:0px 7px 0px 3px;

  width:25px;
  height:25px;
  background: url("../public/images/approved.png");
  background-size: cover;

  
}

/* .navigation */ .pending{
  margin:0px 7px 0px 3px;
  width:25px;
  height:25px;
  background: url("../public/images/pending.png");
  background-size: cover;
  
}

/* .navigation */ .rejected{
  margin:0px 7px 0px 3px;
  width:25px;
  height:25px;
  background: url("../public/images/rejected.png");
  background-size: cover;
  
}

/* .navigation */ .new{
  margin:0px 7px 0px 3px;
  width:25px;
  height:25px;
  background: url("../public/images/new.png");
  background-size: cover;
}


/* .navigation */ .suspended{
  margin:0px 7px 0px 3px;
  width:25px;
  height:25px;
  background: url("../public/images/suspended.png");
  background-size: cover;
}

  
/* .navigation */ .users{
  margin:0px 7px 0px 3px;
  width:25px;
  height:25px;
  background: url("../public/images/users.png");
  background-size: cover;
  
}

/* .navigation */ .change{
  margin:0px 7px 0px 3px;
  width:25px;
  height:25px;
  background: url("../public/images/changePassword.png");
  background-size: cover;
  
}

/* .navigation */ .logout{
  margin:0px 7px 0px 3px;
  width:25px;
  height:25px;
  background: url("../public/images/logout.png");
  background-size: cover;
  
}


.name{
  animation: slideLeft 1s ease-in-out 0s;

}



.white{
  color:white;
}

.orange{
  color:rgb(255, 165, 0);
}

.Requests,
.NewRequest,
.AdminRequests,
.GetUsers,
.AddUser,
.AdminPendingRequests
{
  margin: 18px 10px 0 185px ;
  max-width:100%;
  height:85vh;
  overflow:auto;
    
}

.Requests table,
.NewRequest table,
.AdminRequests table,
.GetUsers table,
.AddUser table,
.AdminPendingRequests table
{
  
  width:100%;
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
 
  
  


 
}






.Requests td{
  padding:8px 10px;
  /* border-bottom: 1px solid #9E9E9E; */
}

.Requests .heading th{
  text-align: left;
  padding:10px 10px;
}

/* F */

.Requests tr:nth-child(odd),
.AdminPendingRequests tr:nth-child(odd),
.GetUsers tr:nth-child(odd),
.AdminRequests tr:nth-child(odd){
  background-color: #F6F1F1;
}




.MiniNavigation{
  display:none;
  background-color: var(--primary, #ffa500);
  max-width:99vw;
  border-radius: 5px;
  margin: 3px;
  height:50px;
  align-items: center;
 
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  position:relative;
}

.MiniNavigation .logo{
  width: 45px;
  height:45px;
  background-image: url("logo.jpg");
  background-size: cover;
  margin-left:5px;
  border-radius: 22px;
}


.MiniNavigationLinks{
  position:absolute;
  top:53px;
  
  /* color:white; */
  list-style-type: none;
  width:100%;

  background-color: white;
  display:block;
  line-height: 2rem;
  border-bottom: 1px solid black;
  /* width:calc(100%-3px); */
  
  min-height:100vh;
  z-index: 1;
  

}

.MiniNavigationLinks a{
  text-decoration: none;
}




.Login{
  background-image:url("../public/images/newBackground.jpg");
  min-height:100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
 
  display:flex;
  align-items: center;
  justify-content: center;
  
  
}



.Login .logo {
  width:50px;
  height:50px;
  border-radius: 50%;
  background-image: url("../public/favicon.jpg");
  background-size: cover;
 

}





.Login label{
  display: block;
}

.Login h1{
  text-align:center;
  border-bottom: 1px solid silver;
  padding: 20px;
}
.Login form{
  background-color: rgba(226,223,221,0.5);

  border-radius: 7px;
  padding:30px;
}

.Login input{
    width:100%;
    border:none;
    outline:none;
    height:30px;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 1px silver solid;

}


.Login input[type="submit"]{
  background-color:var(--secondary);
  color:white;
  
  font-size: large;

  transition: all 0.3s ease-in-out 0s;
  
}

.Login input[type="submit"]:hover{
  transform:scale(1.05,1.1);
  cursor:pointer;
  background-color: var(--primary);
 
}

.Login .errMessage{
  background-color:red;
  text-align: center;
  height:30px;
  padding-top:5px;
  border-radius: 7px;
  font-weight: bold;

}

.NewRequest input[type="submit"],
.NewRequest button
{
background-color:var(--primary, #ffa500);
border: none;
width:90px;
height: 28px;
color: white;
font-weight:700;
font-size: large;
border-radius: 3px;

}


.NewRequest,.AddUser tbody{
background-color: #F6F1F1 ;


}

.NewRequest td
{
  padding:20px 30%;
  font-weight: 600;

}



.NewRequest select{
  border: none;
  width:100%;
  height:30px;
  border-radius: 5px;
}

.NewRequest textarea{
  resize:vertical;
  width:100%;
  outline: none;
  height:306px;
  padding:20px;
}


.GetUsers table{
  overflow:hidden;
}

.GetUsers .heading th{
  padding:12px 8px;
  text-align: left;
}

 .GetUsers td {
  padding:12px 8px;
  border-bottom: 1px solid #9E9E9E;
  
}

.AddUser .left-column{
  padding:15px 5px 15px 20%;
}

.AddUser .right-column{
  padding:15px 20% 15px 5px;
}

.AddUser select{
  min-width:70%;
  border: none;
  height:30px;
  border-radius: 5px;

}

.AddUser input{
  width:70%;
  height:30px;
  border-radius: 5px;

}

/* delete */
.expanded {
  background-color: #f5f5f5;
}
 

.AddUser input[type="text"]{
 border:none;
 padding:0 5px;
 
}

/* .AddUser input[type="text"]:focus{
  outline:1px solid var(--primary)
} */

.AddUser input[type="submit"]{
  background-color:var(--primary, #ffa500);
  border: none;
  width:120px;
  height: 28px;
  color: white;
  font-weight:700;
  font-size: large;
  border-radius: 3px;
  
  }

.ChangePassword .outerForm{
  /* margin: 0 ; */

  display:flex;
  justify-content: center;
  align-items: center;
  max-width:100vw;
  min-height:100vh;
  background-image:url("../public/images/newBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.ChangePassword form{
padding:30px 25px;
background-color: rgba(226,223,221,0.5);
width:400px;
height:400px;
display: flex;
flex-direction: column;
align-content: center;
}

.ChangePassword .logo{
  width: 45px;
  height:45px;
  background-image: url("logo.jpg");
  background-size: cover;
  margin-left:5px;
  border-radius: 22px;
}

.ChangePassword .alert{
display:block;
text-align: center;
border-radius: 5px;
background-color:red;
font-weight:bold;
height:26px;
margin: 10px 0;
padding:5px;

}


.ChangePassword input,
.goBack{
  display:block;
  height:30px;
  margin-bottom: 15px;
  outline:none;
  border: none;
 

}

.ChangePassword input[type="password"]{

font-size: 20px;
border-bottom: 1px solid black;



}



.ChangePassword input[type="submit"],
.goBack
{
  background-color: var(--primary);
  border: none;
  color: white;
  font-weight: 700;
}

.ChangePassword input[type="submit"]:hover,
.goBack:hover{
  cursor: pointer;
  background-color: var(--secondary);

}

.Login .outerpopup{
  width:100vw;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;

  
 
  position:absolute;

  background-color: #ff0000ed;

}

.popup{
  background-color: rgba(226,223,221,0.5);
  border-radius: 7px;
  padding:30px;
  
}

.popup h4{
  text-align: center;
  margin-bottom: 10px;
}

.popup label{
  font-style: italic;
}

.popup button{
  width: 200px;
  display:block;
  margin:30px auto;
  height:30px;
  font-weight: 600;
  background-color: var(--primary);
  color: white;
  border:none;
  cursor: pointer;
  border-radius: 3px;

 
}

.popup button:hover{
  background-color: var(--secondary);
}

/* .my-progress-bar::before {
  background-color: green;
} */



/* .AdminPendingRequests .expanded td{
  border-bottom: 1px solid rgba(60, 57, 57, 0.496);
 
  

} */

.AdminPendingRequests .heading th{
  text-align: left;
  padding:10px 10px;
  border-bottom:1px solid#9E9E9E;

}

.AdminPendingRequests td{
padding:7px 10px;
}

.AdminPendingRequests .search{
/* position:relative; */
/* border-right: 1px solid #9E9E9E; */
margin:0;


}


.AdminPendingRequests .search button{
  /* position:absolute ;
  right:43%;
  top:12.5px; */
  width: 55px;
  height: 35px;
  background-color:var(--primary);
  margin: 0 5px;
  padding:3px;
  font-weight:700;
}

.AdminPendingRequests .search-row input{
  height:35px;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
  margin: 0 10px;
  

}

.AdminPendingRequests .search-row th{
  padding:8px 5px;
  text-align: left;
  border-bottom: 1px solid #9E9E9E;
}

.AdminPendingRequests .search-row input[type="text"]{
  width:240px;
  max-width: 240px;
  padding-left: 7px;
 
}



.AdminPendingRequests tbody .tr:hover,
.AdminRequests tbody .tr:hover,
.Requests tbody .tr:hover
{
  background-color: rgba(255, 153, 0, 0.456);
  cursor: pointer;
  }

.AdminPendingRequests button{
  width:90px;
  height: 30px;
  border: none;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.AdminPendingRequests  .Popup-main .Popup-sub textarea{
  min-width: 100%;
  min-height:100px;
  margin:20px auto;
  resize:vertical;
  padding:10px;

}

.AdminPendingRequests  .Popup-main .Popup-sub .options{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 15px auto;
}

.AdminPendingRequests .Popup-main .ok{
  position: absolute;
  bottom:5%;
  right:5%;

}

.Requests .full,
.AdminPendingRequests .full,
.AdminRequests .full{
  max-width:45vw;
  min-height: 300px;
  background-color: rgb(255, 255, 255); 
  border-radius: 7px;
  padding: 10px 30px;
  overflow-x: hidden;
  font-size: 13px;
  padding:15px;
}

.AdminPendingRequests .full .buttons{
 
  text-align: center;
}



.AdminPendingRequests .full .buttons button{
  margin:20px;
}





.AdminPendingRequests .approve{
background-color: green;
}

.AdminPendingRequests .reject{
background-color: red;

}

.AdminPendingRequests .seeadmin{
background-color:rgb(9, 46, 114);
}

.AdminPendingRequests .close{
background-color:var(--secondary);
}

.openDelete{
  padding:0px;
}

.AdminPendingRequests textarea{
  resize:vertical;
}

.AdminPendingRequests .proceed{
  display: block;
  position:relative;
  background-color: var(--primary);
  
}.AdminPendingRequests .proceed{
  display: block;
  position:relative;
  background-color: var(--primary);
}

/* .AdminNavigation */ .notification{
  height: 15px;
  width:15px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  color: white;
  /* position:absolute; */
  /* top:1px; */
  /* right:1px; */
  padding-bottom:1px;
  font-size: 11px;
  font-weight: 700;
}

.Popup-sub .ok{
  position: absolute;
  bottom:7%;
  right:7%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width:45px;
  padding: 4px 7px ;
 

  font-weight:900;
 
}

.Pop-sub .logo{
  width:40px;
  height:40px;
  border-radius: 50%;
  background-image: url("../public/favicon.jpg");
  background-size: cover;
}

.Popup-main{
  min-width:100%;
  min-height:100%;
  display:flex;
  align-items: center;
  justify-content: center;

  
  z-index: 2;
  position:absolute;
  left:0;
  top:0;
  background-color: #00000035;


  overflow: hidden;


}

.Popup-sub{
  position: relative;
  background-color: rgb(255, 255, 255);
 
  border-radius: 7px;
  padding: 10px 30px;
  width:300px;
  min-height:200px;
  z-index: 5;
}

.Popup-sub .info{
  position:absolute;
  top:40%;
  margin:auto;
  font-size:13px;
}

.Popup-sub .logo{
  width: 45px;
  height:45px;
  background-image: url("logo.jpg");
  background-size: cover;
  margin-left:5px;
  border-radius: 22px;

}

.Popup-sub .buttons{
  position: absolute;
  bottom:5%;
  display: flex;
  justify-content: space-between;
  width:80%;
 
}



.Popup-sub button{
  border-radius: 5px;
  padding:5px;
  background-color: var(--secondary);
  width: 70px;
  border: none;
 
  display: block;
  cursor: pointer;
  
 

}


/* when full details is true use this */

/* .AdminRequests{
  max-height:80vh;
  max-width:100vw;
  overflow:hidden;
} */

.AdminRequests .heading th{
  text-align: left;
  padding:10px 10px;
  border-bottom:1px solid#9E9E9E;

}

.AdminRequests  td{
  padding:7px 10px;
  /* border-bottom: 1px solid #9E9E9E; */

}

.Requests .full .close,
.AdminRequests .full .close{
  border: none;
  background-color:red;
  padding:7px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
}



.Pagination button{
  display:inline-block;
  width:40px;
  height:30px;

 
  border: none;
  margin: 20px 0px;
  cursor: pointer;
  border-radius: 5px;
  color:black;

}

.Pagination button:hover{
color:  var(--primary);

}

.Pagination .active{
  color:white;
  background-color: var(--primary);

}

.Error{
  min-width:100vw;
  min-height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;

  
  z-index: 2;
  position:absolute;
  left:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.904);


  overflow: hidden;


}

.Error div{
  color:white;
  font-weight: 900;
}






                                                                                    @media screen and (max-width:600px){

                                                                                      .header{
                                                                                        display:none;
                                                                                      }
                                                                                      
                                                                                      .navigation{
                                                                                      
                                                                                      display:none;

                                                                                      }

                                                                                    .MiniNavigation{

                                                                                      display:flex;
                                                                                    
                                                                                    }
                                                                                      

                                                                                      

                                                                                      .Requests,
                                                                                      .NewRequest,
                                                                                      .AddUser,
                                                                                      .AdminPendingRequests,
                                                                                      .GetUsers,
                                                                                      .AdminRequests,
                                                                                      .ChangePassword{
                                                                                        margin-left:10px;
                                                                                      }

                                                                                      .Requests .full,
                                                                                      .AdminPendingRequests .full,
                                                                                      .AdminRequests .full{
                                                                                        max-width:80vw;
                                                                                        min-height: 300px;
                                                                                        background-color: rgb(255, 255, 255); 
                                                                                        border-radius: 7px;
                                                                                        padding: 10px 30px;
                                                                                        overflow-x: auto;
                                                                                        font-size: 13px;
                                                                                        padding:15px;
                                                                                      }

                                                                                      .NewRequest td
{
  padding:20px 10%;
  font-weight: 600;

}
                                                                                    }

                                                                                    .faars{
                                                                                      font-size:100px;
                                                                                    }